@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

@media (min-width: 1024px){

    .dMGucj {
        font-size: 5rem !important;
    }

    .gimPoE {
        padding-top: 1rem !important;
        padding-bottom: 3rem !important;
    }
    
    .text-white {
        --tw-text-opacity: 100;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
    }
    
    .eIOVyo {
        justify-content: center !important;
    }
    }

    .bEXpsg {
        color: black;
    }